<template>
<!--页脚-->
    <div class="footer">
        <div class="content_wrap">
          <div class="content clearfix">
            <div class="left l">
                <p>Copyright © 2017 uBeeJoy Games All Rights Reserved.</p>
              <nuxt-link :to="$i18n.path('privacy')"   class="privacy">
                {{$t('footer.a1')}}
              </nuxt-link>
              <nuxt-link :to="$i18n.path('terms')" class="terms">
                {{$t('footer.a2')}}
              </nuxt-link>
            </div>
            <div class="middle l">
                <img src="~assets/img/pc_logo.png"/>
            </div>
            <div class="right l">
                <p>{{$t('footer.p1')}}&nbsp;&nbsp;ubeejoybd@aobi.com</p>
                <p>{{$t('footer.p2')}}&nbsp;&nbsp;ubeejoycs@aobi.com</p>
            </div>
           </div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
    };
  }
};
</script>

<style lang="scss" scoped>
nuxt-link:hover{
    text-decoration: none;
}
.footer{
    width: 100%;
    height: 80px;
    background: #2e2e2e;

    .content_wrap{
    	position: relative;
    	top: 10px;
        width: 80%;
        margin:0 auto;
        padding-left: 50px;
        font-size: 14px;
        text-align: center;
        .left{
            width: 40%;
            margin-top:10px;
            line-height: 1.5em;
            p{
                color: #7e7d7d;
            }
            a{
                color: #b5b4b4;
            }
            .privacy::after{
                content: '|';
                margin:0 5px;
            }
        }
        .middle{
            width: 25%;
            height: 52px;
            margin-top:5px;

            img {
                height:100%;
            }
        }
        .right{
            width: 34%;
            margin-top:10px;
            line-height: 1.5em;
            p{
                color: #aaaaaa;
            }
        }
    }
}
@media (max-width:813px) {
    .footer{
        height: 100px !important;
    }
    .middle{
        height: 40px !important;
        margin-top:30px !important;
    }
}
@media (max-width: 1200px) {
    .footer{
        height: 70px;
    }
}
</style>
