<template>
    <div class="gameCenter">
        <div class="title">
            <div class="icon"></div>
            <h2>{{$t('games.title')}}</h2>
            <h5 v-if="$t('games.smalltitle')">{{$t('games.smalltitle')}}</h5>
        </div>
        <div class="content clearfix">
            <div class="game l">
                <div class="gameIcon">
                    <img src="~assets/img/input/game1.png"/>
                </div>
                <h3 class="gameTitle">造物法则</h3>
                <p class="gameIntro">一部可以玩的漫画</p>
                <a href="#">{{$t('games.guanwang')}}</a>
            </div>
            <div class="game l">
                <div class="gameIcon">
                    <img src="~assets/img/input/game2.png"/>
                </div>
                <h3 class="gameTitle">造物法则</h3>
                <p class="gameIntro">一部可以玩的漫画</p>
                <a href="#">{{$t('games.guanwang')}}</a>
            </div>
            <div class="game l">
                <div class="gameIcon">
                    <img src="~assets/img/input/game3.png"/>
                </div>
                <h3 class="gameTitle">TYPOMAN</h3>
                <p class="gameIntro">一款有趣的解密冒险游戏</p>
                <a href="#">{{$t('games.guanwang')}}</a>
            </div>
            <div class="game l">
                <div class="gameIcon">
                    <img src="~assets/img/input/game4.png"/>
                </div>
                <h3 class="gameTitle">螺旋圆舞曲</h3>
                <p class="gameIntro">贵族少女的权力游戏</p>
                <a href="#">{{$t('games.guanwang')}}</a>
            </div>
        </div>
        <a class="more" href="#">{{$t('games.more')}}</a>
    </div>
</template>

<script>
import request from "~/service";
export default {
  components: {},
  data() {
    return {
    };
  },
  mounted() {}
};
</script>
<style lang="scss" scoped>
@function width($son, $parent) {
  @return percentage($son/$parent);
}
@function height($son, $parent) {
  @return percentage($son/$parent);
}
a{
  text-decoration: none !important;
}
.gameCenter{
  width: 100%;
  background: #f1f0f0;
  padding:3% 0 4.8%;
  margin-top:-7px;
}
.icon{
  width:5%; 
  height:10px;
  background: url('~assets/img/pc_gameCenter_icon.png') no-repeat center;
  background-size: contain;
  margin:0 auto 0.4%;
}
.title{
  text-align: center;
  margin:0 auto 5%;

  h2{
    color: #171717;
    font-weight: 400;
  }
  h5{
    color: #6f6f6e;
    margin-top: 0.2%;
  }
}
.content{
  width: width(1200,1920);
  margin:0 auto;
  background: #fff;
  text-align: center;

    .game{
      width: 25%;
      border:1px solid #d2d2d2;

      .gameIcon{
        position: relative;
        width: 65%;
        height: 0;
        padding-top:65%;
        margin:11% auto 0;

          img{
            position: absolute;
            left: 0;
            top:0;
            width: 100%;
          }
      }
    }

    .game:nth-child(1),.game:nth-child(2),.game:nth-child(3){
      border-right: 1px solid transparent;
    }

    h3{
      font-size: 18px;
      font-weight: 400;
      margin:7% 0 5%;
    }
    p{
      font-size: 14px;
      color:#747373;
      white-space: nowrap;
      text-overflow:ellipsis;
      overflow:hidden;
    }
    a{
      width: 70%;
      height:35px;
      line-height: 35px;
      background: #f8b833;
      color:#fff;
      display: block;
      text-align: center;
      border-radius: 8%;
      white-space: nowrap;
      overflow: hidden;
      margin:9% auto 12%;
    }
}
.more{
  display:block;
  background:url('~assets/img/pc_more.png') no-repeat center;
  background-size: contain;
  margin: 0 auto;
  text-align: center;
  color:#fff;
  margin-top:5%;
}
@media (max-width: 414px) {
  .title h2{
    font-size: 16px;
  }
  .title h5{
    font-size: 12px;
  }
  .game{
    .gameTitle{
      font-size: 13px;
    }
    .gameIntro{
       font-size: 12px;
    }
    a{
      font-size: 13px;
      height: 24px;
      line-height: 20px;
      padding: 2px 0;
    }
  }
  .more{
    width: 28%;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
  }
}
@media (min-width: 414px) {
  .title h2{
    font-size: 25px;
  }
  .title h5{
    font-size: 12px;
  }
}

@media (min-width: 750px) {
  .more{
    width: 28%;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
  }
  .icon{
    width: 10%;
    height: 20px;
  }  
  a{
    font-size:12px;
  }
}
@media (max-width: 1024px) {
  .content{
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .title h2{
    font-size: 36px;
  }
  .title h5{
    font-size: 14px;
  }
  a{
    font-size:16px;
  }
}
</style>
