<template>
<!--页头-->
    <div class="header">
        <div class="content_wrap clearfix">
            <div class="left l">
                <span class="welcome">{{$t('header.welcome')}} </span>
                <nuxt-link :to="$i18n.path('login')" class="login">{{$t('header.login')}}</nuxt-link>
                <nuxt-link :to="$i18n.path('register')" class="register">{{$t('header.register')}}</nuxt-link>
            </div> 
            <div class="right r clearfix">
                <div class="mobile l">
                   <div class="small_ewm l">
                     <img src="~assets/img/pc_small_ewm.png"/>
                   </div>
                   <span class="phone l normal">{{$t('header.phone')}}</span>
                   <span class="arrowdown l"></span>

                   <!--二维码弹窗-->
                   <div class="win_phone">
                     <div class="win_header clearfix">
                         <span class="phone l down">{{$t('header.phone')}}</span>
                         <span class="arrowup l"></span>
                     </div>
                     <div class="big_ewm">
                        <img src="~assets/img/pc_big_ewm.png"/>
                     </div>
                   </div>

                </div>
                <span class="fengexian l">|</span>
                <div class="language l">
                    <span class="lang l normal">{{$t('header.lang')}}</span>
                    <span class="arrowdown l"></span>

                    <!--语言弹窗-->
                    <div class="win_lang">
                        <div class="win_lang_header">
                            <span class="lang l down">{{$t('header.lang')}}</span>
                            <span class="arrowup l"></span>
                        </div>
                        <div class="win_lang_body">
                           <ul>
                               <nuxt-link :to="`/`" class="langItm"><li>中文</li></nuxt-link>
                               <nuxt-link :to="`/en`" class="langItm"><li>English</li></nuxt-link>
                               <nuxt-link :to="`/kr`" class="langItm"><li>한글</li></nuxt-link>
                           </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
    };
  }
};
</script>

<style lang="scss" scoped>
.langItm:hover{
    text-decoration: none !important;
}
.header{
    width: 100%;
    height: 40px;
    background: #2e2e2e;

    .content_wrap{
        width: 1200px;
        margin:0 auto;

        .left{
            font-size: 14px;
            color: #ffffff;
            margin-top:14px;

            .login::after{
                content:"|";
                margin:0 6px;
            }
            .login,.register{
            	color: #fff;
            	cursor: pointer;
            }
            
        }
        .right{
            position: relative;
            font-size: 14px;

            .mobile,.language{
                display: inline-block;
                cursor: pointer;
            }

            .small_ewm{
                margin-top: 9px;
                margin-right: 5px;
            }

            .normal{
                 margin-top:13px;
                 color:#cccccc;
            }

            .fengexian{
                margin:13px 15px 0 0;
                color:#cccccc;
            }

            .arrowdown{
                width: 16px;
                height: 18px;
                background: url('~assets/img/pc_arrow.png') center no-repeat;
                background-size:contain;
                margin:13px 15px 0;
            }
            .arrowup{
                        width: 16px;
                        height: 18px;
                        margin:12px 15px 0;
                        background: url('~assets/img/pc_arrow_up.png') center no-repeat;
                        background-size:contain;
            }
            .down{
                        margin-top:14px;
                        margin-left: 28px;
                        color:#5a5a5a;
            }
            //hover后显示弹窗
            .mobile:hover .win_phone{
                display: block;
            }
            .language:hover .win_lang{
                 display: block;
            }
            //手机浏览弹窗
            .win_phone{
                display:none;
                position: absolute;
                background: #ffffff;
                left: 0px;
                top:0px;
                padding-bottom: 5px;
                z-index: 999;

                .win_header{
                    height: 40px;
                }
                .big_ewm{
                    width: 80%;
                    margin:0 auto;
                    img{
                        width: 100%;
                    }
                }
            }

            //语言弹窗
            .win_lang{
                display:none;
                position: absolute;
                background: #ffffff;
                right: 0px;
                top:0px;
                padding-bottom: 5px;
                z-index: 999;
                .win_lang_header{
                    height: 40px;
                }
                .win_lang_body{
                    li{
                        padding: 10px 0 10px 5px;
                        color:#5a5a5a;
                    }
                    li:hover{
                        background: #f2f2f2;
                    }
                }
            }
        }
        
    }
}
@media (max-width:950px){
    .header{
        .content_wrap{
            width: 95%;
        }
    }
}
</style>
