<template>
<!--这是首页的导航栏-->
    <div class="navBar">
      <div class="barWrap">
       <nuxt-link :to="$i18n.path('')" class="l icon">
         <img src="~assets/img/pc_logo.png"/>
       </nuxt-link>
       <div class="clearfix themeList l">
         <nuxt-link :to="$i18n.path('games')" class="themeItm l">
              <p class="theme">{{$t('navbar.games')}}</p>
              <p class="smalltheme" v-if="$t('navbar.smallga')!==''">{{$t('navbar.smallga')}}</p>
         </nuxt-link>
          <span class="l">|</span>
         <nuxt-link :to="$i18n.path('recharge')" class="themeItm l">
             <p class="theme">{{$t('navbar.recharge')}}</p>
             <p class="smalltheme" v-if="$t('navbar.smallre')!==''">{{$t('navbar.smallre')}}</p>
         </nuxt-link>
          <span class="l">|</span>
         <nuxt-link :to="$i18n.path('about')" class="themeItm l">
             <p class="theme">{{$t('navbar.about')}}</p>
             <p class="smalltheme" v-if="$t('navbar.smallab')!==''">{{$t('navbar.smallab')}}</p>
         </nuxt-link>
       </div>
       <ul class="media lil clearfix r">
           <li class="icon facebook">
             <a href="#">
               <img src="~assets/img/share_facebook.png" title="敬请期待"/>
             </a>
           </li>
           <li class="icon youtube">
             <a href="#">
               <img src="~assets/img/share_youtube.png" title="敬请期待"/>
             </a>
           </li>
       </ul>
       </div>
    </div>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
.nuxt-link-active {
  color: #f8ae1a !important;
}
.navBar {
  width: 100%;
  height: 90px;
  position: relative;
  background: #fff;
  .barWrap {
    width: 1200px;
    margin: 0 auto;

    .icon {
      width: 150px;
      height: 52px;
      margin-top: 19px;

      img {
        width: 100%;
      }
    }

    .themeList {
      margin-left: 60px;
      margin-top: 15px;
      .themeItm {
        text-align: center;
        margin: 0 30px;
        padding-top: 15px;
        color: #333333;
        text-decoration: none !important;
        .theme {
          font-size: 16px;
        }
        .smalltheme {
          font-size: 14px;
        }
      }
      .themeItm:hover {
        border-top: 1px solid #f8ae1a;
      }
      .themeItm:hover p {
        color: #f8ae1a;
      }

      span {
        color: #bfbfbf;
        margin-top: 15px;
      }
    }

    .media {
    	margin-top: 10px;
      .icon {
        width: 20px;
        height: 20px;
        margin:20px 14px;
        img {
          width: 100%;
        }
      }
      .youtube{
          margin-top:17px;
      }
    }
  }
}
@media (max-width:950px){
  .navBar{
    .barWrap{
      width: 95%;
    }
  }
}
</style>
