<template>
    <div>
        <div class="header">
            <h1 class="big_title">{{message.title}}</h1>
        </div>
        <div class="container">
            <h3 class="small_title">{{message.title}}</h3>
            <div class="fengexian"></div>
            <p class="text">{{message.content}}</p>
        </div>
    </div>
</template>

<script>
export default {
  props:['message'],
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
@function width($son, $parent: 1920) {
  @return percentage($son/$parent);
}
@function height($son, $parent: 1951) {
  @return percentage($son/$parent);
}
.header{
    width: 100%;
    height: 0px;
    padding-top: height(290);
    background-color: #f8b62b;
    position: relative;

        .big_title{
            color: #333333;
            font-weight: normal;
            position: absolute;
            left:width(362);
            top:height(170,285);
        }
}
.container{
    width: width(1200);
    margin:0 auto 10%;
    padding-top:height(133);
    position: relative;

        .small_title{
            color: #333333;
            text-align: center;
            font-weight: normal;
        }
        .fengexian{
            width: width(340,1200);
            height: 20px;
            background: url("~assets/img/pc_fengexian.png") no-repeat center;
            background-size: contain;
            margin: 2% auto 7%;
        }
        .text{
            color: #333333;
            line-height: 1.5em;
        }
}
@media (max-width:414px){
    .big_title{
        font-size: 14px;
    }
    .small_title{
         font-size: 13px;
    }
    .text{
         font-size: 12px;
    }
}
@media (min-width:415px){
    .big_title{
        font-size: 22px;
    }
    .small_title{
        font-size: 18px;
    }
    .text{
         font-size: 13px;
    }
}
@media (min-width:768px) {
    .big_title{
        font-size: 36px;
    }
    .small_title{
        font-size: 24px;
    }
    .text{
         font-size: 16px;
    }
}
@media (min-width:1200px) {
    .big_title{
        font-size: 48px;
    }
    .small_title{
        font-size: 36px;
    }
    .text{
         font-size: 16px;
    }
}
</style>
