<template>
<div class="banner">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
        <a href="javascript:;">
          <picture>
            <source media="(max-width:768px)" srcset="~assets/img/input/02.png">
            <source media="(min-width:768px)" srcset="~assets/img/input/02.png">
            <img src="~assets/img/input/02.png">
          </picture>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="javascript:;">
          <source media="(max-width:768px)" srcset="~assets/img/input/02.png">
          <source media="(min-width:768px)" srcset="~assets/img/input/02.png">
          <img src="~assets/img/input/02.png">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="javascript:;">
          <source media="(max-width:768px)" srcset="~assets/img/input/02.png">
          <source media="(min-width:768px)" srcset="~assets/img/input/02.png">
          <img src="~assets/img/input/02.png">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="javascript:;">
          <source media="(max-width:768px)" srcset="~assets/img/input/02.png">
          <source media="(min-width:768px)" srcset="~assets/img/input/02.png">
          <img src="~assets/img/input/02.png">
        </a>
      </div>

		</div>
		<!-- 如果需要分页器 -->
		<div class="swiper-pagination"></div>
		
		<!-- 如果需要导航按钮 -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
  </div>
</template>

<script>
import request from "~/service";
export default {
  components: {},
  data() {
    return {};
  },
  mounted() {
    let Swiper = this.Swiper;
    new Swiper(".swiper-container", {
      loop: true,
      autoplay: true,
      // 如果需要分页器
      pagination: {
        el: ".swiper-pagination",
        clickable: true
      },

      // 如果需要前进后退按钮
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      }
    });
  }
};
</script>

<style lang="scss" scoped>
@function width($son, $parent: 1920) {
  @return percentage($son/$parent);
}
@function height($son, $parent: 800) {
  @return percentage($son/$parent);
}

.banner {
  margin: 0 auto;
  position: relative;
}
.banner .swiper-slide a img {
  width: 100%;
}
.banner .swiper-pagination {
  bottom: 0;
}
.banner .swiper-button-prev {
  background: url("~assets/img/pc_banner_prev.png") no-repeat center;
  background-size: contain;
  width: width(81);
  height: height(120);
  left: 0;
}
.banner .swiper-button-next {
  background: url("~assets/img/pc_banner_next.png") no-repeat center;
  background-size: contain;
  width: width(81);
  height: height(120);
  right: 0;
}
</style>

<style lang="scss">
/*分页器是vue挂载后创建的，因此覆盖样式必须写在scoped样式之外*/
.banner .swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  background: black;
  opacity: 1;
}
@media (max-width: 414px) {
  .banner .swiper-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 6px;
  }
  .banner .swiper-pagination .swiper-pagination-bullet-active {
    width: 20px;
    height: 22px;
  }
}
@media (min-width: 415px) {
  .banner .swiper-pagination .swiper-pagination-bullet {
    width: 30px;
    height: 9px;
  }
  .banner .swiper-pagination .swiper-pagination-bullet-active {
    width: 30px;
    height: 33px;
  }
}
@media (min-width: 1200px) {
  .banner .swiper-pagination .swiper-pagination-bullet {
    width: 45px;
    height: 13.5px;
  }
  .banner .swiper-pagination .swiper-pagination-bullet-active {
    width: 45px;
    height: 49.5px;
  }
}
@media (min-width: 1920px) {
  .banner .swiper-pagination .swiper-pagination-bullet {
    width: 50px;
    height: 15px;
  }
  .banner .swiper-pagination .swiper-pagination-bullet-active {
    width: 50px;
    height: 55px;
  }
}
.banner .swiper-pagination .swiper-pagination-bullet-active:nth-child(1) {
  background: url("~assets/img/input/1.png") no-repeat center;
  background-size: contain;
}
.banner .swiper-pagination .swiper-pagination-bullet-active:nth-child(2) {
  background: url("~assets/img/input/2.png") no-repeat center;
  background-size: contain;
}
.banner .swiper-pagination .swiper-pagination-bullet-active:nth-child(3) {
  background: url("~assets/img/input/3.png") no-repeat center;
  background-size: contain;
}
.banner .swiper-pagination .swiper-pagination-bullet-active:nth-child(4) {
  background: url("~assets/img/input/4.png") no-repeat center;
  background-size: contain;
}
</style>