<template>
	<section class="container">
        <navbar></navbar>
		<banner></banner>
        <div class="content">
            <div class="title">{{ $t('about.title') }}</div>
            <div class="icon"></div>
            <p class="text">{{ $t('about.introduction') }}</p>
        </div>
	</section>
</template>

<script>
import request from "~/service";
import banner from "~/components/swiper.vue";
import navbar from '~/components/navbar.vue'
export default {
  components: {
    banner,
    navbar,
  },
  data() {
    return {
      
    };
  },
};
</script>
<style lang="scss" scoped>
.content {
  width: 62.5%;
  margin: 0 auto;
  text-align: center;
  padding: 5% 0 20%;
  line-height: 1.5em;

  .title {
    font-size: 44px;
    color: #333333;
    font-weight: bold;
  }
  .icon {
    width: 20%;
    height: 20px;
    background: url("~assets/img/pc_fengexian.png") no-repeat center;
    background-size: contain;
    margin: 2% auto 0;
  }
  .text {
    font-size: 18px;
    color: #333333;
    margin-top: 10%;
  }
}
@media (max-width: 414px){
    .content{
        .title{
            font-size: 16px;
        }
        .text{
            font-size: 12px;
        }
    }
}
@media (min-width: 415px){
    .content{
        .title{
            font-size: 24px;
        }
        .text{
            font-size: 16px;
        }
    }
}
@media (min-width: 1200px){
    .content{
        .title{
            font-size: 44px;
        }
        .text{
            font-size: 18px;
        }
    }
}
</style>