<template>
	<section class="container">
		<navbar></navbar>
		<banner></banner>
		<gameCenter></gameCenter>
	</section>
</template>

<script>
	import request from '~/service'
	import axios from 'axios'
	import banner from '~/components/swiper.vue'
	import gameCenter from '~/components/games.vue'
	import navbar from '~/components/navbar.vue'
	export default {
		components: {
			navbar,
			banner,
			gameCenter,
		},
		data() {
			return {
				list: []
			}
		},
		//这里 hid 的作用是区分 meta 内容唯一性，因为如果不设置，可能会造成子页面的 head 内容不能正确覆盖父组件内容。
		head() {
			return {
				title: "Ubee",
				meta: [{
					hid: 'description-home',
					name: 'description',
					content: 'Test for Nuxt'
				}]
			}},
		// created() {
		// 		let $this = this;
		// 		//let url = "api/canteen/mobile/getMenu";
		// 		let url = 'api/v1/web/aanner?position=hero&platform=web&page=0&pageSize=20&src=web';
		// 		request.get(url,{}).then(function(resolve){
		// 				$this.list = resolve.d.banner;
		// 		},function(reject){
					
		// 		})
		// 	}
		}
</script>

<style>
	
</style>