<template>
	<section class="container">
    <navbar2></navbar2>
		<someMessage :message="message"></someMessage>
	</section>
</template>

<script>
import request from "~/service";
import someMessage from "~/components/someMessage.vue";
import navbar2 from '~/components/navbar2.vue'
export default {
  components: {
    navbar2,
    someMessage,
  },
  data() {
    return {
        message:{
            title:this.$t('privacy.title'),
            content:"BY ACCESSING AND USING ANY SERVICES, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE LEGALLY BOUND BY THESE TERMS.BY ACCESSING AND USING ANY SERVICES, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE LEGALLY BOUND BY THESE TERMS.BY ACCESSING AND USING ANY SERVICES, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE LEGALLY BOUND BY THESE TERMS.BY ACCESSING AND USING ANY SERVICES, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE LEGALLY BOUND BY THESE TERMS.BY ACCESSING AND USING ANY SERVICES, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE LEGALLY BOUND BY THESE TERMS.BY ACCESSING AND USING ANY SERVICES, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE LEGALLY BOUND BY THESE TERMS.BY ACCESSING AND USING ANY SERVICES, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE LEGALLY BOUND BY THESE TERMS.BY ACCESSING AND USING ANY SERVICES, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE LEGALLY BOUND BY THESE TERMS."
        }
    };
  },
  created() {}
};
</script>

<style lang="scss" scoped>

</style>