<template>
	<section class="container">
		<navbar></navbar>
		<div class="content">
			<div class="title">登录</div>
			<div class="input-wrap m-b-32">
				<span class="iconfont icon-zhanghao">&#xe65e;</span>
				<input type="text" v-model="username" placeholder="账号" />
			</div>
			<div class="input-wrap">
				<span class="iconfont">&#xe603;</span>
				<input v-show="switchPwd" v-model="pwd" type="text" placeholder="密码" />
				<input v-show="!switchPwd" v-model="pwd" type="password" placeholder="密码" />
				<span @click="changeSwitch" tabindex="0" :class="switchPwd?'ivu-switch-checked':''" class="ivu-switch ivu-switch-default">
					<input type="hidden" value="true"> 
					<span :class="!switchPwd?'cor-ccc':''" class="ivu-switch-inner">明文</span>
				</span>
			</div>
			<div class="input-checkbox">
				<img @click="checkChange($event)" v-show="checkedFile" src="../assets/img/checked.png" />
				<input @click="checkChange($event)" v-model="checkedFile" type="checkbox" />
				<span class="f-s-14">记住账号</span>
				<span class="cor-9">还没有账号?</span>
				<a class="free-register">免费注册</a>
				<a class="forget-pwd">忘记密码?</a>
			</div>
			<a class="register-block">登录</a>

			<div class="fb-block">
				<img src="../assets/img/fblogo.png" />
				<a>Facebook登录</a>
			</div>
		</div>
	</section>
</template>

<script>
	import navbar from '~/components/navbarLogin.vue'
	export default {
		components: {
			navbar
		},
		data() {
			return {
				checkedFile: true,
				switchPwd: false,
				username: '',
				pwd: '',
			};
		},
		methods: {
			checkChange() {
				this.checkedFile = !this.checkedFile;
			},
			changeSwitch(){
				this.switchPwd = !this.switchPwd;
				if(this.switchPwd){
					
				}
			}
		}
	};
</script>
<style lang="scss" scoped>
	.ivu-switch {
		display: inline-block;
		left: 713px !important;
		width: 50px;
		height: 22px;
		line-height: 20px;
		border-radius: 22px;
		vertical-align: middle;
		border: 1px solid #ccc;
		background-color: #ccc;
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .2s ease-in-out;
		&:focus {
			outline: none;
		}
	}
	
	.ivu-switch-checked {
		border-color: #F8B62B;
		background-color: #F8B62B;
	}
	
	.ivu-switch-checked .ivu-switch-inner {
		left: 7px;
	}
	
	.ivu-switch-inner {
		color: #fff;
		font-size: 12px;
		position: absolute;
		top: 0px !important;
		width: 36px;
		left: -2px !important;
		display: inline-block;
	}
	
	.ivu-switch:after {
		content: "";
		width: 18px;
		height: 18px;
		border-radius: 18px;
		background-color: #fff;
		position: absolute;
		left: 1px;
		top: 1px;
		cursor: pointer;
		transition: left .2s ease-in-out, width .2s ease-in-out;
	}
	
	.ivu-switch-checked:after {
		left: 31px;
	}
	
	@font-face {
		font-family: 'iconfont';
		/* project id 229929 */
		src: url('//at.alicdn.com/t/font_229929_6b906vg0q8s.eot');
		src: url('//at.alicdn.com/t/font_229929_6b906vg0q8s.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_229929_6b906vg0q8s.woff') format('woff'), url('//at.alicdn.com/t/font_229929_6b906vg0q8s.ttf') format('truetype'), url('//at.alicdn.com/t/font_229929_6b906vg0q8s.svg#iconfont') format('svg');
	}
	
	.iconfont {
		font-family: "iconfont" !important;
		font-size: 16px;
		font-style: normal;
		-webkit-font-smoothing: antialiased;
		-webkit-text-stroke-width: 0.2px;
		-moz-osx-font-smoothing: grayscale;
	}
	
	.f-s-14 {
		font-size: 14px;
	}
	
	.m-b-32 {
		margin-bottom: 32px;
	}
	.cor-ccc{
		color: #ccc;
	}
	.cor-9 {
		margin-left: 50px;
		color: #999;
		font-size: 14px;
	}
	
	.free-register,
	.forget-pwd {
		color: #f8b62b;
		font-size: 14px;
		cursor: pointer;
	}
	
	.forget-pwd {
		margin-left: 10px;
	}
	
	.content {
		width: 1200px;
		background: #fff;
		margin: 0 auto;
		margin-top: 63px;
		margin-bottom: 80px;
		text-align: center;
		.title {
			font-size: 36px;
			color: #333333;
			padding-top: 59px;
			margin-bottom: 59px;
		}
		.input-wrap {
			position: relative;
			input {
				width: 350px;
				height: 45px;
				border: 1px solid #dcdcdc;
				text-indent: 35px;
				&:focus {
					outline: 1px solid #1a9fcb;
				}
			}
			span {
				position: absolute;
				top: 14px;
				left: 435px;
			}
			p {
				text-align: left;
				padding-left: 440px;
				color: #888585;
				font-size: 14px;
				margin: 14px 0 21px 0;
			}
			.veify-input {
				width: 206px;
				margin-right: 30px;
			}
			.verify-code {
				color: #fff;
				background: #F8B62B;
				padding: 14px 16px;
				cursor: pointer;
			}
		}
		.input-checkbox {
			position: relative;
			text-align: left;
			margin-left: 428px;
			margin-top: 15px;
			margin-bottom: 31px;
			img {
				position: absolute;
				z-index: 121;
				top: 6px;
				left: 2px;
			}
			input {
				position: relative;
				top: 2px;
				margin-right: 10px;
				background: #F8B62B;
				width: 16px;
				height: 16px;
				&:focus {
					outline: 0;
				}
			}
		}
		.register-block {
			position: relative;
			background: #F8B62B;
			color: #fff;
			display: block;
			font-size: 18px;
			padding: 14px;
			width: 350px;
			margin: auto;
			cursor: pointer;
			margin-bottom: 32px;
		}
		.fb-block {
			padding-bottom: 100px;
			text-align: left;
			margin-left: 427px;
			cursor: pointer;
			img {
				margin-right: 15px;
				vertical-align: middle;
				position: relative;
				top: -3px;
			}
		}
	}
</style>