<template>
	<section class="container">
		<navbar></navbar>
		<div class="content">
			<div class="cont-center">
				<div class="title" v-html="$t('recharge.title')">
					<!--{{$t('recharge.title')}} : XXXXXXX-->
				</div>
				<ul class="list-theme">
					<li @click="showRecharge" :class="[recharge?'hover':'']" class="b-r-0">
						<img class="m-b-3" src="../assets/img/recharge.png" />
						<span>储值</span>
					</li>
					<li @click="showRechargeNote" :class="[rechargeNote?'hover':'']">
						<img src="../assets/img/recharge-time.png" />
						<span>储值记录</span>
					</li>
				</ul>
				<div v-show="recharge">
					<div class="area-box">
						<label>
						<img src="../assets/img/location.png" />请选择地区：
					</label>
						<div @mouseover="showArea" @mouseout="hideArea" class="ddl collapse driver cover-3">
							<input type="hidden" id="driverId" name="driverId" value="" />
							<input :value="areaValue" type="text" placeholder="地区" readonly>
							<ul  v-show="areaUl">
								<li @click="getAreaValue(area)" v-for="area in areaList">
									{{area}}
								</li>
							</ul>
						</div>
					</div>
					<div class="role-box">
						<label>
						<img src="../assets/img/role-icon.png" />请选择角色信息：
					</label>
						<div @mouseover="showGame" @mouseout="hideGame" class="ddl cover-1">
							<input type="hidden" id="driverId" name="driverId" value="" />
							<input :value="gameValue" type="text" placeholder="游戏" readonly>
							<ul v-show="gameUl">
								<li @click="getGameValue(game)" v-for="game in gameList">
									{{game}}
								</li>
							</ul>
						</div>
						<div @mouseover="showServer" @mouseout="hideServer" class="ddl cover-2">
							<input type="hidden" id="driverId" name="driverId" value="" />
							<input :value="serverValue" type="text" placeholder="选择服务器" readonly>
							<ul v-show="serverUl">
								<li @click="getServerValue(server)" v-for="server in serverList">
									{{server}}
								</li>
							</ul>
						</div>
						<div @mouseover="showRole" @mouseout="hideRole" class="ddl cover-3">
							<input type="hidden" id="driverId" name="driverId" value="" />
							<input :value="roleValue" type="text" placeholder="选择角色" readonly>
							<ul v-show="roleUl">
								<li @click="getRoleValue(role)" v-for="role in roleList">
									{{role}}
								</li>
							</ul>
						</div>
					</div>
					<div class="chose-way-box">
						<label>
						<img src="../assets/img/moneykou.png" />请选择储值渠道和金额
					</label>
						<div class="card-section">
							<ul>
								<li>点卡</li>
								<li>电子钱包</li>
								<li>ATM</li>
								<li>SMS</li>
								<li>OTHERS</li>
							</ul>
						</div>
						<div class="self-section">
							<ul>
								<li>MOLpoints</li>
								<li>MYCARD</li>
							</ul>
						</div>
						<div class="diamond-section">
							<ul>
								<li>5K IDR=36Diamonds</li>
								<li>10K IDR=36Diamonds</li>
								<li>50K IDR=36Diamonds</li>
							</ul>
						</div>
						<div class="diamond-section">
							<ul>
								<li>100K IDR=36Diamonds</li>
								<li>500K IDR=36Diamonds</li>
							</ul>
						</div>
					</div>
					<div class="storage-box">
						<label>
						<img src="../assets/img/storage.png" />请确认储值订单
					</label>
						<table>
							<thead>
								<tr>
									<th>储值账户</th>
									<th>游戏</th>
									<th>服务器</th>
									<th>角色</th>
									<th>金额</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>lol</td>
									<td>chiji</td>
									<td>wangzhi</td>
									<td>kongjian</td>
									<td>dabais</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="submit-box">
						<a class="center-btn" href="#">确认提交</a>
					</div>
				</div>
				<div v-show="rechargeNote">
					<div class="storage-box">
						<table>
							<thead>
								<tr>
									<th>储值账户</th>
									<th>游戏</th>
									<th>服务器</th>
									<th>角色</th>
									<th>金额</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>lol</td>
									<td>chiji</td>
									<td>wangzhi</td>
									<td>kongjian</td>
									<td>dabais</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div v-show="maskWin" class="mask"></div>
			<div v-show="sucWin" class="suc-window">
				<p class="text-tip">
					<h2 class="suc-flag">储值成功</h2>
					<p>请进游戏内查收货币。</p>
				</p>
				<a class="game-btn">进入</a>
			</div>
			<div v-show="errorWin" class="error-window">
				<p class="text-tip">
					<h2 class="suc-flag">储值失败</h2>
					<p>
						请重试或者<br/>
						提供订单号及角色信息给<span>客服</span>
					</p>
				</p>
				<a class="repeat-btn">重试</a>
			</div>
		</div>
	</section>
</template>

<script>
	import request from "~/service";
	import navbar from '~/components/navbar.vue'
	export default {
		components: {
			navbar
		},
		data() {
			return {
				maskWin: false,  //遮罩
				errorWin: false, //错误弹窗
				sucWin: false, 	 //正确弹窗
				recharge: true,
				rechargeNote: false,
				areaUl: false,
				areaValue: '地区',
				areaList: ['中国', '俄罗斯', '美国'],
				gameUl: false,
				gameValue: '游戏',
				gameList: ['王者', 'LOL', '吃鸡'],
				serverUl: false,
				serverValue: '选择服务器',
				serverList: ['华为', '阿里云', '百度云'],
				roleUl: false,
				roleValue: '选择角色',
				roleList: ['孙悟空', '猪八戒', '唐僧'],
			};
		},
		created() {

		},
		methods: {
			showArea() {
				this.areaUl = true;
			},
			hideArea() {
				this.areaUl = false;
			},
			getAreaValue($area) {
				//input 重新赋值
				this.areaValue = $area;
				//下拉框消失
				this.areaUl = false;
			},
			showGame() {
				this.gameUl = true;
			},
			hideGame() {
				this.gameUl = false;
			},
			getGameValue($game) {
				//input 重新赋值
				this.gameValue = $game;
				//下拉框消失
				this.gameUl = false;
			},
			showServer() {
				this.serverUl = true;
			},
			hideServer() {
				this.serverUl = false;
			},
			getServerValue($server) {
				//input 重新赋值
				this.serverValue = $server;
				//下拉框消失
				this.serverUl = false;
			},
			showRole() {
				this.roleUl = true;
			},
			hideRole() {
				this.roleUl = false;
			},
			getRoleValue($role) {
				//input 重新赋值
				this.roleValue = $role;
				//下拉框消失
				this.roleUl = false;
			},
			showRecharge(){
				this.recharge = true;
				this.rechargeNote = false;
				//去除同级元素的hover状态
			},
			showRechargeNote(){
				this.recharge = false;
				this.rechargeNote = true;
			}
		}
	};
</script>
<style lang="scss" scoped>
	.b-r-0 {
		border-right: 0px !important;
	}
	
	.m-b-3 {
		margin-bottom: 3px;
	}
	
	.hover {
		border-top: 3px solid #f8b62b !important;
	}
	
	.container {
		margin-bottom: 96px;
	}
	
	.mask{
		    position: fixed;
	    z-index: 10;
	    background: #e4e4e4;
	    top: 0;
	    width: 100%;
	    opacity: 0.6;
	    height: 100%;
	    left: 0;
	}
	
	.suc-window,.error-window{
		position: fixed;
		z-index: 20;
		background: url(../assets/img/winsuc.png) no-repeat;
		width: 459px;
		height: 462px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		.text-tip{
			margin-top: 236px;
			h2{
				
			}
		}
	}
	
	.error-window{
		background: url(../assets/img/winerr.png) no-repeat;
		line-height: 22px;
		span{
			color: #f8b62b;
		}
		.repeat-btn{
			position: relative;
			top: 56px;
			margin-top: 20px;
			background: #a0a0a0;
			border-radius: 25px;
			padding: 13px 80px;
			color: #fff;
			cursor: pointer;
			&:hover{
				text-decoration: none;
			}
		}
	}
	
	.suc-flag{
		font-size: 26px;	
		margin-bottom: 10px;
	}
	
	.game-btn{
		position: relative;
		top: 56px;
		margin-top: 20px;
		background: #f8b62b;
		border-radius: 25px;
		padding: 13px 80px;
		color: #fff;
		cursor: pointer;
		&:hover{
			text-decoration: none;
		}
	}
	
	.content {
		text-align: center;
		margin-top: 96px;
		.cont-center {
			background: #fff;
			margin: auto;
			width: 1200px;
		}
		.title {
			font-size: 30px;
			color: #333333;
			padding-bottom: 99px;
			padding-top: 58px;
		}
		.list-theme {
			list-style: none;
			border-bottom: 1px solid #dcdcdc;
			overflow: hidden;
			li {
				float: left;
				cursor: pointer;
				text-align: center;
				padding: 26px 0;
				font-size: 16px;
				width: 300px;
				border: 1px solid #dcdcdc;
				border-bottom: 0;
				&:hover {
					border-top: 4px solid #f8b62b;
				}
				img {
					vertical-align: middle;
					margin-right: 10px;
				}
			}
		}
		.area-box,
		.role-box,
		.chose-way-box,
		.storage-box {
			position: relative;
			padding: 59px 32px;
			font-size: 16px;
			text-align: left;
			border-bottom: 1px solid #dcdcdc;
		}
		.role-box {
			input {
				width: 224px;
				background-position: 195px;
			}
			.cover-2 {
				left: 473px !important;
			}
			.cover-3 {
				left: 696px !important;
			}
			ul {
				li {
					width: 222px !important;
				}
			}
		}
		.chose-way-box {
			label {
				display: block;
			}
			ul {
				margin: 38px 0;
				li {
					display: inline-block;
					border: 1px solid #7a7a7a;
					width: 154px;
					padding: 11px 0;
					text-align: center;
					cursor: pointer;
					&:hover {
						color: #f8b62b;
						border-bottom: 0;
						border-top: 3px solid #f8b62b;
					}
				}
			}
			.diamond-section {
				li {
					width: 224px;
				}
			}
		}
		.storage-box {
			border-bottom: 0;
			label {
				display: block;
				margin-bottom: 38px;
			}
			table {
				margin-left: 44px;
				th {
					background: #eeeeee;
					text-align: center;
					font-size: 16px;
					font-weight: 500;
					color: #4c4c4c;
					width: 155px;
					height: 41px;
					border: 1px solid #b5b5b5;
				}
				td {
					text-align: center;
					width: 155px;
					height: 41px;
					border: 1px solid #b5b5b5;
					font-size: 14px;
					font-weight: 500;
				}
			}
		}
		.submit-box {
			margin-top: 108px;
			padding-bottom: 190px;
			.center-btn {
				background: #f8b62b;
				width: 350px;
				padding: 13px 139px;
				height: 45px;
				line-height: 45px;
				font-size: 18px;
				text-align: center;
				color: #fff;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	
	label {
		display: inline-block;
		color: #030000;
		margin-right: 79px;
		img {
			vertical-align: middle;
			margin-right: 23px;
		}
	}
	
	.ddl {
		position: absolute;
		bottom: 45px;
		left: 250px;
		input {
			height: 45px;
			width: 174px;
			color: #f8b62b;
			appearance: auto !important;
			/*在选择框的最右侧中间显示小箭头图片*/
			background: url("../assets/img/trilow.png") no-repeat scroll right center transparent;
			border: 1px solid #b5b5b5;
			background-position: 147px;
			cursor: pointer;
			padding-left: 20px;
			&:hover {
				background: #f8b62b;
				color: #fff;
				background-image: url("../assets/img/trilowhover.png");
				background-repeat: no-repeat;
				background-position: 147px;
			}
		}
		ul {
			z-index: 110;
			position: absolute;
			border: 1px solid #b5b5b5;
			border-top: 0;
			border-bottom: 0;
			li {
				cursor: pointer;
				width: 172px;
				background: #fdfcfa;
				color: #9a9998;
				padding: 12px 20px;
				border-bottom: 1px solid #b5b5b5;
				&:hover {
					background: #eeeeee;
				}
			}
		}
	}
	
	select {
		/*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
		position: relative;
		text-align: center;
		padding-left: 25px;
		color: #f8b62b;
		/*很关键：将默认的select选择框样式清除*/
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		/*在选择框的最右侧中间显示小箭头图片*/
		background: url("../assets/img/trilow.png") no-repeat scroll right center transparent;
		/*为下拉小箭头留出一点位置，避免被文字覆盖*/
		padding-right: 14px;
	}
	
	select:hover {
		background: #f8b62b;
		color: #fff;
		background-image: url("../assets/img/trilowhover.png");
		background-repeat: no-repeat;
		background-position: 153px;
	}
	
	select:focus {
		outline: none;
	}
	/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
	
	select::-ms-expand {
		display: none;
	}
	
	:-webkit-input-placeholder {
		color: red;
		font-size: 20px;
		line-height: 50px;
	}
</style>