<template>
  <div class="root-app">
    <top></top>
    <nuxt/>
    <foot></foot>
  </div>
</template>
<script>
  import top from '~/components/header.vue'
  import foot from '~/components/footer.vue'
	export default {
    components: {
      top,
      foot
    }
  }
</script>
<style lang="scss">
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.root-app{
	background: #fafafa;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

</style>

